
<form (submit)="addProduct(newProduct)" #formData="ngForm">
  <div class="box"> 
    <!-- <fieldset>       -->
    <div class="title is-4">New Product</div>

    <div *ngIf="errors">  
      <p *ngIf="errors.name" >  {{ errors['name'].message }} </p>
      <p *ngIf="errors.qty"> {{ errors.qty.message }} </p>        
      <p *ngIf="errors.price"> {{ errors.price.message }} </p>        
    </div>
    <div class="field">
        <div class="control">

        <label class="col-form-label">Name:</label>
        <input 
        type="text" 
        class="form-control" 
        name="name" 
        required
        minlength=3
        [(ngModel)]="newProduct.name"
        #name="ngModel"
        />
       <div *ngIf="!name.valid" class="is-small">*Product Name {{ newProduct.name }} must be at least 3 characters in length!</div>
    </div>
      </div>

    <div class="col-sm-12">
        <label class="col-form-label">Qty:</label>
          <input 
          type="text" 
          required
          class="form-control" 
          name="newProduct.qty" 
          [(ngModel)]="newProduct.qty" 
          #qty="ngModel"
          />
          <!-- <div *ngIf="!qty.valid" class="red">*Qty {{ newProduct.qty }} must be greater than or equal to 0!</div> -->
    </div>

    <div class="col-sm-12">
        <label class="col-form-label">Price:</label>
          <input 
          type="text" 
          required
          class="form-control" 
          name="newProduct.price" 
          [(ngModel)]="newProduct.price" 
          #price="ngModel"
          />
          <!-- <div *ngIf="!price.valid" class="red">*Price {{ newProduct.price }} must be greater than or equal to 0!</div> -->
    </div>
  <!-- </fieldset> -->
  <nav class="level">
      <div class="level-left"> 
      </div>
      <div class="level-item">
        <button class="button is-light" [routerLink]="['/products']">RESET</button>
        <button class="button is-success" type="submit" [disabled]="formData.invalid">CREATE</button>
      </div> 
    </nav>
  </div>
</form>

