
<form (submit)="addProduct(newProduct)" #formData="ngForm">
  <div class="form-group row box0"> 
    <fieldset>      
    <legend>New Product</legend>
    <!-- {{ errors | json }} -->
    <div *ngIf="errors">  
      <p *ngIf="errors.name" >  {{ errors['name'].message }} </p>
      <p *ngIf="errors.qty"> {{ errors.qty.message }} </p>        
      <p *ngIf="errors.price"> {{ errors.price.message }} </p>        
    </div>

    <div class="col-sm-12" >
        <label class="col-form-label">Name:</label>
        <input 
        type="text" 
        class="form-control" 
        name="name" 
        required
        minlength=3
        [(ngModel)]="newProduct.name"
        #name="ngModel"
        />
       <div *ngIf="!name.valid" class="is-small">*Product Name {{ newProduct.name }} must be at least 3 characters in length!</div>
    </div>

    <div class="col-sm-12">
        <label class="col-form-label">Qty:</label>
          <input 
          type="text" 
          required
          class="form-control" 
          name="newProduct.qty" 
          [(ngModel)]="newProduct.qty" 
          #qty="ngModel"
          />
          <!-- <div *ngIf="!qty.valid" class="red">*Qty {{ newProduct.qty }} must be greater than or equal to 0!</div> -->
    </div>

    <div class="col-sm-12">
        <label class="col-form-label">Price:</label>
          <input 
          type="text" 
          required
          class="form-control" 
          name="newProduct.price" 
          [(ngModel)]="newProduct.price" 
          #price="ngModel"
          />
          <!-- <div *ngIf="!price.valid" class="red">*Price {{ newProduct.price }} must be greater than or equal to 0!</div> -->
    </div>

    <br>
  </fieldset>
  </div>

  <button class="button is-light" [routerLink]="['/products']">RESET</button>
  <button class="button is-success" type="submit" [disabled]="formData.invalid">CREATE</button>
 
</form>

