<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="button is-light" [routerLink]="['/']">Home</button>
    <button type="button" class="button is-light" [routerLink]="['/products']">Product List</button>
    <button type="button" class="button is-light" [routerLink]="['/products/new']">Product Creation</button>
</div>
<br>
<br>

<div class="box">
    <article class="media">

      <div class="media-content">
        <div class="content">
          <p>
              <strong>Home Page</strong> 
            <br>
            Welcome to Project Product Management. Here we can manage a set of products. You are able to create new products, remove old products, and edir produts.
          </p>
        </div>
  
      </div>
    </article>
  </div>