<form (submit)="editProduct(product)" #formData="ngForm" id="editForm">
    <div class="box"> 

        <!-- {{ errors | json }} -->
        <div class="errors">
          <p *ngIf="errors.name" >  {{ errors.name.message }} </p>
          <p *ngIf="errors.qty"> {{ errors.qty.message }} </p>        
          <p *ngIf="errors.price"> {{ errors.price.message }} </p>        
        </div>

      <fieldset>
        <legend>Update Product</legend>
        <div class="form-group row">
          <label for="name">Name</label>
          <input 
          class="form-control"
          type="text" 
          name="name" 
          [(ngModel)]="product.name"
          #name="ngModel"
          />
        </div>
        <!-- <div *ngIf="!name.valid" class="purple">Product title must be at least four characters!</div> -->
        
        <div class="form-group row">
            <label for="qty">Qty</label>
            <input 
            class="form-control"
            type="number" 
            name="qty" 
            [(ngModel)]="product.qty"
            #qty="ngModel"
            />
          </div>

        <div class="form-group row">
          <label for="price">Price</label>
          <input 
          class="form-control"
          type="number" 
          name="price" 
          [(ngModel)]="product.price"
          #price="ngModel"
          />
        </div>

        <button type="button" class="button is-light" (click)="reset()" >RESET</button>
        <button type="button" class="button is-success" (click)="editProduct(product)" [disabled]="formData.invalid">UPDATE</button>
        <!-- <button class="button is-light" [routerLink]="['/products']">RESET</button> -->
        <!-- <button type="submit" class="button is-success" [disabled]="formData.invalid">UPDATE</button> -->
      
  
      </fieldset>
  
    </div>
  
  </form>